language: php

sudo: false

dist: trusty

matrix:
  include:
    - php: 7.0
      env: COMPOSER_ARGS='--prefer-lowest'
    - php: 7.0
    - php: 7.1
    - php: nightly
  allow_failures:
    - php: nightly

before_script:
  - composer update $COMPOSER_ARGS

script:
  - ./bin/phpspec run
